.footer {
  background: #f7f5ed; /* light background color */
  padding: 80px 80px 80px 80px;
  margin-top: auto;
  width: 100%;
}

.footer-content {
  max-width: 100%;
  margin: 0 ;
  padding: 0px;
}

.row {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.col {
  max-width: 20%;
}

/* .footer-logo-text {
  color: #1e3a5f !important;
  margin-bottom: 0 !important;
  font-weight: bold;
  letter-spacing: 2px;
} */

.footer-title {
  color: #1e3a5f !important;
  margin-bottom: 16px !important;
  font-weight: 600;
}

.footer-text {
  color: #666;
  display: block;
  margin-top: 0px;
}

/* .footer-info {
  gap: 8px;
} */

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-link {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffa940;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-link {
  color: #666;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #ffa940;
}

.tiktok-icon {
  font-size: 16px;
  font-weight: bold;
}


.footer-section-first {
  max-width: 400px;
}

.footer-logo-text {
  font-size: 32px !important;
  font-weight: 700 !important;
  font-family: 'UTM Americana' ;
  color: #1e3a5f !important;
}

@media (max-width: 1000px) {
  

  .footer-logo-text {
    font-size: 20px !important;
  }
}

@media (max-width: 800px) {
  

  .footer-logo-text {
    font-size: 20px !important;
  }
}

@media (max-width: 700px) {
  

  .footer-logo-text {
    font-size: 15px !important;
  }
}

@media (max-width: 600px) {
  .footer-logo-text {
    font-size: 15px !important;
  }

  .footer-title {
    font-size: 18px !important;
  }

  .footer-text {
    font-size: 14px !important;
  }

  .footer-link {
    font-size: 14px !important;
  }

  .social-link {
    font-size: 14px !important;
  }
}

@media (max-width: 540px) {
  

  .footer-logo-text {
    font-size: 15px !important;
  }
}

@media (max-width: 525px) {
  

  .footer-logo-text {
    font-size: 13px !important;
  }
}

@media (max-width: 480px) {
  .footer-content {
    padding: 0 8px;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .col {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-logo-text {
    font-size: 20px !important;
  }
}

@media (max-width: 450px) {
  .footer-logo-text {
    font-size: 18px !important;
  }

  .footer-title {
    font-size: 16px !important;
  }

  .footer-text {
    font-size: 12px !important;
  }

  .footer-link {
    font-size: 12px !important;
  }

  .social-link {
    font-size: 12px !important;
  }
}

